.hd{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 2%;
    display: flex;
}

.logo{
    width: 10%;
}

.menu{
    position: relative;
}

.tri{
    width: 5%;
    color: white;
}

.tri0{
    margin-top: 0.25%;
    margin-left: 0.25%;
    display: block;
}

.tri1{
    transform: rotate(180deg);
    margin-top: -5%;
    margin-left: 0.5%;
    display: block;
}

.tri2{
    margin-top: -5.625%;
    margin-left: 5.9%;
    display: block;
}

.tri3{
    margin-top: 0.7%;
    margin-left: 0.25%;
    display: block;
}

.menu h3{
    display: absolute;
    top: 0;
    left: 0;
    padding: 10pt;
    margin: 0;
}