header{
    position: fixed;
    top: 0;
    left: 0;
}

.hd{
    background-color: black;
    display: flex;
    position: fixed;
    margin: 0;
    padding-left: 1%;
}

.logo{
    max-width: 10%;
    max-height: 10%;
}

.title{
    color: white;
    margin-left: 2%;
}

.menu{
    position: fixed;
    top: 11%;
    left: 0.35%;
}

.tri{
    width: 27.5%;
    display: block;
}

.tri1{
    transform: rotate(180deg);
    margin-top: -32.5%;
    margin-left: 1%;
}

.tri2{
    margin-top: -35%;
    margin-left: 30%;
}

.tri3{
    margin-top: -3.35%;
}

.menulink{
    text-decoration: none;
    position: absolute;
    color: white;
    font-weight: normal;
}

.menulink:hover{
    font-weight: bold;
}

.li0{
    margin-top: -62.5%;
    margin-left: 2.5%;
}

.li1{
    margin-top: -45%;
    margin-left: 10%;
}

.li2{
    margin-top: -62.5%;
    margin-left: 32.5%;
}

.li3{
    margin-top: -32.5%;
    margin-left: 2.5%;
}
.topspace{
    padding: 8%;
}

.toptitle{
    font-size: 42pt;
    text-align: center;
}

.aboutspaceA{
    padding: 3%;
}

.aboutspaceB{
    padding: 9%;
}

.about{
    text-align: center;
}

.rubi{
    margin-bottom: 0;
}

.number_name{
    margin-top: 0;
}

.no1spaceA{
    padding: 5%;
}

.no1spaceB{
    padding: 7%;
}

.no1{
    text-align: center;
    display: block;
}

.no1title{
    text-align: center;
}

.fish{
    max-width: 30%;
}

.no1text{
    margin-left: 2%;
    text-align: left;
    display: inline-block;
}

.no2spaceA{
    padding: 3%;
}

.no2spaceB{
    padding: 9%;
}

.no2{
    text-align: center;
    display: block;
}

.no2title{
    text-align: center;
}

.no2text{
    margin-left: 2%;
    text-align: left;
    display: inline-block;
}

.ftspace{
    padding: 8%;
}