.hd{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 2%;
    display: flex;
}

.logo{
    width: 10%;
}

.menu{
    position: relative;
}

.tri{
    width: 5%;
}

.tri0{
    margin-top: 0.25%;
    margin-left: 0.25%;
    display: block;
}

.tri1{
    transform: rotate(180deg);
    margin-top: -5%;
    margin-left: 0.5%;
    display: block;
}

.tri2{
    margin-top: -5.625%;
    margin-left: 5.9%;
    display: block;
}

.tri3{
    margin-top: 0.7%;
    margin-left: 0.25%;
    display: block;
}

.menulink{
    color: white;
    font-size: 40pt;
    text-decoration: none;
}

.li0{
    position: absolute;
    margin-top: -10.5%;
    margin-left: 1%;
}

.li1{
    position: absolute;
    margin-top: -7.625%;
    margin-left: 2.25%;
}

.li2{
    position: absolute;
    margin-top: -10.5%;
    margin-left: 6.5%;
}

.li3{
    position: absolute;
    margin-top: -4.75%;
    margin-left: 1%;
}